smart_doorbell/configurations/make_config.json
{
    "name": "Integration Webhooks, Apple iOS, Android",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 597971,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "test"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "name",
                        "type": "text"
                    },
                    {
                        "name": "link",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "ios:SendNotification",
                            "version": 1,
                            "parameters": {
                                "device": 598074
                            },
                            "mapper": {
                                "url": "{{2.link}}",
                                "body": "{{2.name}} is here",
                                "title": "Ring Ring",
                                "action": "open_url",
                                "priority": 10,
                                "collapsible": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "action": {
                                            "label": "Open browser"
                                        },
                                        "priority": {
                                            "label": "Deliver immediately"
                                        }
                                    },
                                    "parameters": {
                                        "device": {
                                            "data": {
                                                "editable": "undefined"
                                            },
                                            "label": "Yoav"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "device",
                                        "type": "device:apn",
                                        "label": "Device",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "action",
                                        "type": "select",
                                        "label": "Action",
                                        "validate": {
                                            "enum": [
                                                "open_url"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                10,
                                                5
                                            ]
                                        }
                                    },
                                    {
                                        "name": "collapsible",
                                        "type": "boolean",
                                        "label": "Collapse push notifications",
                                        "required": true
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL address"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 7,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 900,
                                            "y": 0
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "android:SendNotification",
                            "version": 1,
                            "parameters": {
                                "device": 597988
                            },
                            "mapper": {
                                "url": "{{2.link}}",
                                "body": "{{2.name}} is here for you",
                                "title": "Ring Ring",
                                "collapsible": false,
                                "notification_action": "open_url"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "notification_action": {
                                            "label": "Open URL"
                                        }
                                    },
                                    "parameters": {
                                        "device": {
                                            "data": {
                                                "editable": "undefined"
                                            },
                                            "label": "Zuzut"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "device",
                                        "type": "device:fcm",
                                        "label": "Device",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "text",
                                        "label": "Body",
                                        "required": true
                                    },
                                    {
                                        "name": "notification_action",
                                        "type": "select",
                                        "label": "Click action",
                                        "validate": {
                                            "enum": [
                                                "open_url"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "collapsible",
                                        "type": "boolean",
                                        "label": "Collapse push notifications",
                                        "required": true
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 8,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 900,
                                            "y": 300
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}
