smart_doorbell/configurations/node-red-integromat-config.json
[
    {
        "id": "b094e4572e52e215",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "502dd855519517a0",
        "type": "http request",
        "z": "b094e4572e52e215",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://hook.eu1.make.com/ccl61imoc57f9skkkgfum2hovveiqnc2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "1e3a1da8f77cf220"
            ]
        ]
    },
    {
        "id": "e7c8c21425ad901b",
        "type": "inject",
        "z": "b094e4572e52e215",
        "name": "mymsg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Name\",\"Google.com\"}",
        "payloadType": "json",
        "x": 50,
        "y": 220,
        "wires": [
            [
                "502dd855519517a0"
            ]
        ]
    },
    {
        "id": "1e3a1da8f77cf220",
        "type": "debug",
        "z": "b094e4572e52e215",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "d65eb34cbbc5635b",
        "type": "mqtt in",
        "z": "b094e4572e52e215",
        "name": "",
        "topic": "doorbell",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8ba45457788e22a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "1e3a1da8f77cf220",
                "502dd855519517a0"
            ]
        ]
    },
    {
        "id": "8ba45457788e22a9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "400",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
